/node_modules
/public/hot
/public/mix-manifest.json
/public/storage
/public/vendor
/storage/*.key
/vendor
.env
.env.*
!.env.example
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/public/.htaccess
/public/images
.DS_Store
/storage/*.log
/storage/app/*
!/storage/app/public
/storage/debugbar/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*
